@media screen and (max-width: 980px) {
    #contenedor {
        width: 90%;
    }

    #contenido {
        width: 60%;
    }

    #barra_lateral {
        width: 30%;
    }
}

iframe {
    width: 1280px;
    height: 600px;
}