body {
    font-size: 1.2rem;
    line-height: 1.4em;
    background-color: #f2c9d5;
    margin: 0;
    text-align: center;


    header {

        a {
            color: black;
            text-decoration: none;
            font-family: 'Courier New', Courier, monospace;
        }
    }


    h1 {
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        border-color: black;
        color: #ed1b5a;
        font-weight: bold;
    }


    main {
        padding-top: 1rem;
        text-decoration: dashed;
        text-align: center;
        font-size: 1.3rem;
        line-height: 1.4em;
        color: rgb(16, 18, 24);
        background-color: #f4d9e1;


    }

    p {

        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        text-align-last: center;

    }

    .footer1 {

        background: #f2c9d5;
        padding: 4rem 0;
        text-align: center;
        margin-top: 6rem;

    }
}