body {
font-family:'Courier New', Courier, monospace;
   font-size: 1.2rem;
   line-height: 1.4em;
    background-color: #f2c9d5;
    margin: 0;

    p{
        margin-bottom: 1.6em;
    }

    iframe {
        width: 1280px;
        height: 600px;
    }

    @media screen and (max-width: 980px) {
        #contenedor {
            width: 90%;
        }

        #contenido {
            width: 60%;
        }

        #barra_lateral {
            width: 30%;
        }
    }

    header {

        .header {
            background: #f3789d;
            color: black;
            padding: 2rem 0;

            a {
                color: black;
                text-decoration: none;
            }
        }

        .container {
            width: 85%;
            max-width: 850px;
            margin: 0 auto;
        }

        .logo-nav-container {

            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        .navigation {
            ul {
                margin: 0;
                padding: 0;
                list-style: none;

                li {
                    display: inline-block;

                    a {
                        display: block;
                        padding: 0.5rem 1rem;
                        transition: all 0.4s linear;

                        .hover {
                            background: #f4d9e1;
                        }
                    }
                }
            }
        }


        .logo {
            letter-spacing: 5px;
            font-size: 1.3em;
        }

        h1 {
            font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
            border-color: black;
            color: #ed1b5a;
            font-weight: bold;
        }

    }

    main {
        text-decoration: dashed;
        text-align: justify;
        font-size: 1.3rem;
        line-height: 1.4em;
        color: rgb(16, 18, 24);
        background-color: #f4d9e1;



        div {

            .contenedor {
                margin-top: 50px;
                display: flex;
                justify-content: center;
                align-items: center;
            }

            .imagen {
                width: 350px;
                margin-right: 25px;
                border-radius: 15px;
            }
        }

    }
}