* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@media only screen and (min-width: 768px) {
    .body {

        border: thistle;
        position: center;
        color: #f4d9e1;
     
    }
}
